* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ========common classe====== */

.container {
  width: 80%;
  margin: auto;
}
.capitalize {
  text-transform: capitalize;
}

.upperCase {
  text-transform: uppercase;
}

.btn {
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 10px 2;
}

/* ========nav====== */
body {
  overflow-x: hidden;
  /* height: 10000px; */
}
nav {
  background-color: transparent;
  position: absolute;
  /* top: 0; */
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 100px;
}
nav .logo img {
  width: 100%;
}
nav .btnShowNav {
  display: none;
}

nav .container ul {
  list-style: none;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
}

nav .container ul li {
  padding: 10px;
  cursor: pointer;
}
nav .container ul li a {
  text-decoration: none;
  color: #FFF;
  border: 1px solid ;
  padding: 7px 10px;
}
/* ======Home====== */

.home {
  background-image: url("./images/img-background.png");
  background-size: cover;
  width: 100%;
  height: 70vh;
  padding-top: 70px;
  color: #fff;
  padding: 10px;
}
.home .container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.home .container .content {
  max-width: 500px;

  line-height: 1.4;
}
.home .img {
  width: 40%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ======menue====== */

.menue {
  color: black;
  padding: 30px 20px;
  margin-top: 100px;
}

.menue .header {
  margin: auto;
  max-width: 700px;
}

.menue .header p {
  text-align: center;
}

.menue .items {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: baseline;
  margin-top: 50px;
}

.menue .items .item img {
  margin-bottom: 10px;
}

.menue .items .item {
  line-height: 1.4;
  text-align: center;
}

.menue .items .item p {
  font-size: 12px;
  margin-top: 10px;
  color: rgb(117, 115, 115);
  margin-left: 10px;
  text-align: center;
}

/* ===========Info========== */
.info {
  color: black;
  padding: 30px 20px;
  margin-top: 100px;
  background-color: #27292b;
}

.Info .header {
  margin: auto;
  max-width: 700px;
}

.info .content {
  display: flex;
  color: #fff;
  justify-content: space-between;
  line-height: 1.5;
  flex-wrap: wrap;
}
.info .content p {
  max-width: 500px;
  margin-top: 30px;
  color: #8f8f8f;
}
.info .btnparent {
  margin-top: 40px;
}

@media (min-width: 1300px) {
  .info .btnparent {
    text-align: center;
  }
}
.info .btnparent .btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

/* =========offers========= */
.offers .content {
  width: 100%;
}
.offers .offer1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  align-items: flex-start;
  color: #27292b;
  line-height: 1.5;
  justify-content: center;
}

.offers .offer2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  align-items: flex-start;
  color: #27292b;
  line-height: 1.5;
  justify-content: center;
}
.offers .offer .details {
  max-width: 400px;
}
.offers .offer .details h4 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}
.offers .offer .details .btn {
  background-color: #27292b;
  color: #fff;
}

/* ===========pizza========== */

.pizza {
  margin-top: 100px;
  padding: 20px;
  max-height: 870px;
  background-image: url("./images/img-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.pizza img {
  margin-top: 20px;
}

/* ===========callUS======== */

.callUS {
  padding: 80px 20px 2;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.4;
  margin: auto;
  background-color: #fcfcfc;
  color: rgb(26, 23, 23);
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.callUS .form {
  overflow: hidden;
  border-radius: 20px;
  margin: auto;
  max-width: 500px;
  height: 40px;
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
}

.callUS .form input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: #8f8f8f;
  color: #fff;
  padding: 20px;
}
.callUS .form .btn {
  position: absolute;
  right: -3px;
  top: 0;
  margin: 0;
  padding: 8px 15px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: #434444;
  color: #fff;
  height: 100%;
  z-index: 9999;
  cursor: pointer;
}



/* ==========footer========= */
footer{
  padding: 20px;
  text-align: center;
  background-color: #27292b;
  min-height:200px;
  color: #fff;
  text-transform: capitalize;
}




/* ==========media query======== */

@media (max-width: 578px) {
  /* ========nav====== */
  nav .container {
    position: relative;
  }
  nav .btnShowNav {
    display: inline-block;
    height: 30px;
    align-self: center;
  }

  nav .container ul {
    position: absolute;
    background-color: rgba(238, 238, 238, 0.253);
    flex-direction: column;
    width: 100%;
    /* height: ; */
    right: 0;
    top: 80px;
    height: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  nav .container ul li{
    padding:15px;

  }
  nav .container ul.mystyle {
    height: 200px;
  }
  /* ========home========= */
  .home {
    height: 650px !important;
  }
  .home .img {
    margin-top: 10px !important;
    width: 60%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .home {
    height: fit-content;
  }
  .home .container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home .img {
    width: 60%;
    overflow: hidden;
    display: flex;
    /* float: left; */
    flex-direction: column;
  }

  /* =========menue======== */

  .menue .item {
    margin-top: 20px;
  }
}
